fastapi
uvicorn[standard]
python-dotenv
pydantic
loguru
langgraph
langchain-openai
langchain-core
yfinance
pandas
numpy
matplotlib
requests
beautifulsoup4
fake-useragent
reportlab
google-genai
tavily-python
